.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 27px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}

.cog__not {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  position: absolute;
  right: 20px;
  top: 48px;
}
